doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title ${1:Document Title}
    
  body
    header
      h1 ${2:Main Heading}
      
    main
      section
        h2 ${3:Section Title}
        p ${4:Your content here}
        
    footer
      p &copy; ${5:2024} ${6:Your Name} 